version: '3.8'

services:
  redis-master:
    image: redis:7.0-alpine
    container_name: redis-sentinel-master
    ports:
      - "6390:6379"
    restart: always
    command: redis-server --appendonly yes
    networks:
      - redis-sentinel-net

  redis-replica-1:
    image: redis:7.0-alpine
    container_name: redis-sentinel-replica-1
    ports:
      - "6391:6379"
    restart: always
    command: redis-server --replicaof redis-master 6379 --appendonly yes
    depends_on:
      - redis-master
    networks:
      - redis-sentinel-net

  redis-replica-2:
    image: redis:7.0-alpine
    container_name: redis-sentinel-replica-2
    ports:
      - "6392:6379"
    restart: always
    command: redis-server --replicaof redis-master 6379 --appendonly yes
    depends_on:
      - redis-master
    networks:
      - redis-sentinel-net

  redis-sentinel-1:
    image: redis:7.0-alpine
    container_name: redis-sentinel-1
    ports:
      - "26379:26379"
    restart: always
    command: >
      sh -c "sleep 10 && 
      MASTER_IP=$$(getent hosts redis-master | awk '{ print $$1 }') && 
      echo \"Resolved IP: $$MASTER_IP\" && 
      echo 'port 26379' > /tmp/sentinel.conf &&
      echo 'protected-mode no' >> /tmp/sentinel.conf &&
      echo \"sentinel monitor mymaster $$MASTER_IP 6379 2\" >> /tmp/sentinel.conf &&
      echo 'sentinel down-after-milliseconds mymaster 5000' >> /tmp/sentinel.conf &&
      echo 'sentinel failover-timeout mymaster 10000' >> /tmp/sentinel.conf &&
      echo 'sentinel parallel-syncs mymaster 1' >> /tmp/sentinel.conf &&
      redis-sentinel /tmp/sentinel.conf"
    depends_on:
      - redis-master
    networks:
      - redis-sentinel-net


  redis-sentinel-2:
    image: redis:7.0-alpine
    container_name: redis-sentinel-2
    ports:
      - "26380:26379"
    restart: always
    command: >
      sh -c "sleep 10 && 
      MASTER_IP=$$(getent hosts redis-master | awk '{ print $$1 }') && 
      echo \"Resolved IP: $$MASTER_IP\" && 
      echo 'port 26379' > /tmp/sentinel.conf &&
      echo 'protected-mode no' >> /tmp/sentinel.conf &&
      echo \"sentinel monitor mymaster $$MASTER_IP 6379 2\" >> /tmp/sentinel.conf &&
      echo 'sentinel down-after-milliseconds mymaster 5000' >> /tmp/sentinel.conf &&
      echo 'sentinel failover-timeout mymaster 10000' >> /tmp/sentinel.conf &&
      echo 'sentinel parallel-syncs mymaster 1' >> /tmp/sentinel.conf &&
      redis-sentinel /tmp/sentinel.conf"
    depends_on:
      - redis-master
    networks:
      - redis-sentinel-net

  redis-sentinel-3:
    image: redis:7.0-alpine
    container_name: redis-sentinel-3
    ports:
      - "26381:26379"
    command: >
      sh -c "sleep 10 && 
      MASTER_IP=$$(getent hosts redis-master | awk '{ print $$1 }') && 
      echo \"Resolved IP: $$MASTER_IP\" && 
      echo 'port 26379' > /tmp/sentinel.conf &&
      echo 'protected-mode no' >> /tmp/sentinel.conf &&
      echo \"sentinel monitor mymaster $$MASTER_IP 6379 2\" >> /tmp/sentinel.conf &&
      echo 'sentinel down-after-milliseconds mymaster 5000' >> /tmp/sentinel.conf &&
      echo 'sentinel failover-timeout mymaster 10000' >> /tmp/sentinel.conf &&
      echo 'sentinel parallel-syncs mymaster 1' >> /tmp/sentinel.conf &&
      redis-sentinel /tmp/sentinel.conf"
    depends_on:
      - redis-master
    networks:
      - redis-sentinel-net


networks:
  redis-sentinel-net:
    driver: bridge
